---
layout: default
single: true
---
<link href="{{ root_url }}/stylesheets/2013-05-31-new-post.css" media="screen, projection" rel="stylesheet" type="text/css">

<article>
  <div class="row top">
    <div class="column heading">
      <div class="page-date">
        {% include post/date.html %}{{ time }}    
      </div>
      <h1>
        一个产品经理眼中的
      </h1>
      <div class="subheading">
        Snapchat
      </div>
    </div>
  </div>
  <div id="essay">
    <div class="row">
      <div class="column article">
        {% include article.html %}
      </div>
    </div>
  </div>
</article>