body > nav {
  background: transparent;
  border-top: none;
  border-color: rgba(255, 255, 255, 0.15);
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  padding-top: 20px;
  margin-bottom: 50px;
  height: 50px;
  
  .main-navigation{
    float: right;
  }
  
  .main-navigation li{
    display: block;
    float: left;
  }
  
  .main-navigation li a{
    color: rgba(255, 255, 255, 0.8);
    float: left;
    display: block;
    padding-left: 24px;
    position: relative;
    margin-left: 18px;
    text-decoration: none;
  }
  
  .main-navigation li a:hover {
    color: #F2F2F2;    
  }
  
  .main-navigation li a.rss{
    padding-left: 22px;
  }
  
  .icon{
    background: url(/assets/images/menu_icons.png) no-repeat;
    position: absolute;
    left: 0;
    top: 1px;
    height: 16px;
    width: 16px;
    display: block;
    opacity: 0.8;
  }
  
  .label{
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
  }
  
  .main-navigation li a:hover .icon{
    opacity: 1;
  }
  
  .home .icon{
    background-position: -19px top;
    width: 19px;
  }
  .rss .icon{
    background-position: -38px top;
  }  
}
